.App {
  max-width: 800px;
  margin: 20px auto;
}

.segment {
  box-shadow: none;
}

.ui.attached.header {
  background-color: #e0e0e0;
  font-weight: bold;
}

.ui.form .field > label {
  font-weight: bold;
}

.post-button-container {
  text-align: right;
  margin-top: 20px !important; /* Ensures space above the button */
}

.post-button {
  background-color: #d3d3d3; /* Light gray background */
  color: black; /* Dark text color */
  border: none; /* Remove border */
  padding: 10px 20px; /* Padding for the button */
  cursor: pointer; /* Pointer cursor */
  font-size: 16px; /* Button text size */
  float: right; /* Align to the right */
}

.post-button:hover {
  background-color: #b0b0b0; /* Slightly darker on hover */
}
